<%- include("../includes/header.ejs", {title:"Doctor - View All"}); %>

<h1>Doctors</h1>
<a href="/Doctor/add">Add New Doctor</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/Doctor/?DID=<%= result[i].DID %>"><%= result[i].Doctor_LName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/Doctor/edit/?DID=<%= result[i].DID %>'">Edit</button>
            <form action="/Doctor/delete/" style="display:inline;">
                <input type="hidden" name="DID" id="DID" value="<%= result[i].DID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>