<%- include("../includes/header.ejs", {title:"Patient - View All"}); %>

<h1>Patients</h1>
<a href="/patient/add">Add New Patient</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/patient/?PID=<%= result[i].PID %>"><%= result[i].patient_LName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/patient/edit/?PID=<%= result[i].PID %>'">Edit</button>
            <form action="/patient/delete/" style="display:inline;">
                <input type="hidden" name="PID" id="PID" value="<%= result[i].PID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>